body 
{
    background: url(../../assets/images/backround.jpg);
    color: 	#ffb0c1;
    text-shadow: -2px 0 #823dd1, 0 2px #ffb35c, 2px 0 	#00c2d9, 0 -2px 	#f14545;
    font-size: 30px;
}
h1 {
    color: #ffd90f;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
